* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #6E4C7D;

}

.bg-image {
    background-image: url(https://images.unsplash.com/photo-1532574754390-44dc5c6780bb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;

}

.spacing {
    height: 500px;
}

.navbar1 {
    background-color: #E28C8C;
}

.footer1 {
    background-color: #6FAE9F;
}

.nav-button {
    background-color: #6E4C7D;
}

.spacer_meh {
    flex-basis: 10%;
}

.fa {
    text-decoration: none;
    color: black;
}

#footer_menu {
    list-style: none;
    list-style-type: none;
}

.blog_text {
    font-size: 18px;
}

#ammend {
    font-size: calc(1rem + 1.25vw);
}

.btn-dark:hover {
    background-color: rgba(255, 255, 255, 0.377);
}

.border-card {
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgb(54, 53, 61);
}