* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #6E4C7D;

}

.navbar1 {
    background-color: #E28C8C;
}

.footer1 {
    background-color: #6FAE9F;
}

.nav-button {
    background-color: #6E4C7D;
}

.spacer_meh {
    flex-basis: 10%;
}

.fa {
    text-decoration: none;
    color: black;
}

#footer_menu {
    list-style: none;
    list-style-type: none;
}

.blog_text {
    font-size: 18px;
}

#ammend {
    font-size: calc(1rem + 1.25vw);
}

.btn-dark:hover {
    background-color: rgba(255, 255, 255, 0.377);
}

.border-card {
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgb(54, 53, 61);
}